<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Vituum x p5js x ChatGPT</title>
</head>
    <body>
        <h1>Vituum x p5js x ChatGPT</h1>
        {% render '../components/nav.liquid' %}

        {% block content %}
        {% endblock %}

        <!-- TODO: GitHub Corner -->

        <p>Image Source: <a href="https://unsplash.com/de/fotos/ein-mann-fahrt-mit-dem-fahrrad-eine-strasse-unter-einer-brucke-entlang-ONPCT9vwKvo">Unsplash - CJ Bota</a></p>
    </body>
</html>
